.header {
    display: block;
    margin: 0 auto;
    position: relative;
    padding: 0;
    background: #fff;
    visibility: visible;
    clear: both;
    overflow: hidden;
}

.header .top-bar {
    background: #3b3e46;
    min-height: 51px;
}

.header .top-bar p , .header .top-bar a {
    color: #d8d8d8;
    text-shadow: 0 1px 0 rgba(0,0,0,0.18);
    font-size: 10px;
    line-height: 51px;
    font-weight: 400;
    padding: 0 6px;
    transition: .2s all ease;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.6px;
}
.header .top-bar .social_link a {
    font-size: 16px;
}
.header img.logo {
    max-height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto
}

#nav {
    float: right;
}

#nav li {
    list-style: none;
    padding: 0;
    margin: 0;
    float: left;
    display: block;
    height: 100%;
    vertical-align: middle;
    position: static;
}
#nav a {
    display: block;
    font-weight: 600;
    color: #444;
    outline: 0;
    opacity: 1;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    padding: 0 15px;
    text-decoration: none;
    letter-spacing: 0.3px;
    line-height: 100px;
    transition: background .15s ease-in-out;
}

#nav a:hover {
    color: #0099ff;;
}
